<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
			
		<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Contractor</title>
	</head>
	<body>	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/contractor}">Disaster Recovery</a>
			</div>
			<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	</br>
	</br>
	</br>
	<div class="row row-no-gutters" style="height: 95vh; ">
		<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a th:href="@{/contractor/list_timecards}">TimeSheet Management</a></button>
		</div>
	  	<div class="col-xs-12 col-md-8">
		
		<br><br><br>
		<h2 align="center">Timesheet Approval</h2>
		
		<br>
		<br>	
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Site Code</th>
		      <th scope="col">Total Labor Hours</th>
		      <th scope="col">Total Labor Amount</th>
		      <th scope="col">Total Machine Hours</th>
		      <th scope="col">Total Machine Amount</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="timecard:${timecards}">
			    <td th:text="${timecard.siteCode}"/>
				<td th:text="${timecard.totalHoursJob}"/>
				<td th:text="${timecard.totalAmountjob}"/>
				<td th:text="${timecard.totalHoursMachine}"/>
				<td th:text="${timecard.totalAmountMachine}"/>
				<td><a th:href="@{/contractor/edittimecard/{id}(id=${timecard.id})}">edit</a></td>
				<td><a th:href="@{/contractor/deletetimecard/{id}(id=${timecard.id})}">delete</a></td>
		    </tr>
		  </tbody>
		</table>
		 <center><a href="/contractor/newtimecard">Add New Timecard</a></center>
		</div>
		</div>
		</body>
</html>