<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Admin</title>
	</head>
	<body>	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Disaster Recovery</a>
			</div>
			<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	</br>
	</br>
	</br>
	<div class="row row-no-gutters" style="height: 95vh; ">
		<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a th:href="@{/admin/list_timecards}">TimeSheet Approval</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_jobs}">Job Code Management</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_machines}">Machine Management</a></button>
		</div>
			<div class="col-xs-12 col-md-8">
				<form th:action="@{/admin/savemachine}" th:object="${machine}" Method="Post">
				ID:<input type="text" th:field="*{id}" readonly=readonly/>
				Machine Code:<input type="text" th:field="*{machineCode}"/><br><br>
				Description:<input type="text" th:field="*{description}" /><br><br>
				Hourly Rent:<input type= "text" th:field="*{hourlyRent}" /><br><br>
				Max Hours Per Day:<input type= "text" th:field="*{maxHoursPerDay}" />
				<button type="submit">Update</button>
				</form>
			</div>
			</div>
	</body>
</html>