<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Contractor</title>
	</head>
	<body>	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/contractor}">Disaster Recovery</a>
			</div>
			<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	</br>
	</br>
	</br>
		<div class="row row-no-gutters" style="height: 95vh; ">
			<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
				<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a href="list_timecards">TimeSheet Management</a></button>
			</div>
			<div class="col-xs-12 col-md-8">
	
			
			<form th:action="@{/contractor/saveTimecardEdit/{id}(id=${timecard.id})}" th:object="${timecard}" Method="Post">

			<div class="mb-5">
				<label class="form-label">Contractor</label>
    			<input type="text" class="form-control" th:value="${contractor.firstName} + ' ' + ${contractor.lastName}" readonly="readonly"/>
			 	<label class="form-label">Site Code</label>
    			<input type="text" class="form-control" th:field="*{siteCode}"/>
			</div>
			<br>
			<br>
			<div class="mb-3">
				<label class="form-label">Labor</label>
				<select th:object="${job}" class="form-select form-select-lg mb-3">
					<option th:each="i : ${labor}" th:value="${i}" th:text="${i}"></option>
				</select>
			</div>
			<br>
			<br>
			<div class="mb-3">
				<label class="form-label">Total Hours</label>
				<input type="text" th:field="*{totalHoursJob}"/>
			</div>
			<br>
			<br>
			<div class="mb-3">
				<label class="form-label">Total Amount</label>
				<input type= "text" th:field="*{totalAmountjob}"/>
			</div>
			<br>
			<br>
			<div class="mb-3">
				<label class="form-label">Machine</label>
				<select th:object="${machine}" class="form-select form-select-lg mb-3">
					<option th:each="i : ${machines}" th:value="${i}" th:text="${i}"></option>
				</select>
			</div>
			<br>
			<br>
			<div class="mb-3">
				<label class="form-label">Total Hours</label>
				<input type="text" th:field="*{totalHoursMachine}"/>
			</div>
			<br>
			<br>
			<div class="mb-3">
				<label class="form-label">Total Amount</label>
				<input type= "text" th:field="*{totalAmountMachine}"/>
			</div>
			<br>
			<br>
			<button type="submit">Save</button>
		</form>
			</div>
		</div>
	</body>
</html>