<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Contractor</title>
	</head>
	<body>	
	
	<div class="row row-no-gutters" style="height: 5vh; background-color:gray;">
		<div>
			<h3 style="margin-left:50px">Disaster Recovery Application</h4>
		 </div>
	</div>
		<div class="row row-no-gutters" style="height: 95vh; ">
			<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
				<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a href="list_timecards">TimeSheet Management</a></button>
			</div>
			<div class="col-xs-12 col-md-8">
				<form th:action="@{/savetimecardContractor}" th:object="${timecard}" Method="Post">
				ID:<input type="text" th:field="*{id}" readonly=readonly/>
				Site Code:<input type="text" th:field="*{siteCode}"/><br><br>
				Total Hours:<input type="text" th:field="*{totalHours}" /><br><br>
				Total Amount:<input type= "text" th:field="*{TotalAmount}" />
				<button type="submit">Update</button>
			</form>
			</div>
		</div>
	</body>
</html>