<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
			
		
		<table border=1 bgcolor="silver" align="center" cellpadding="6",cellspacing ="6">
		
		<br><br><br>
		<h2 align="center">Job Code Management</h2>
		<tr>
		<th>JobCode</th>
		<th>Description</th> 
		<th>HourlyRate</th>
		<th>MaxHoursPerDay</th>
		
		</tr>
		<tr th:each="job:${jobs}">
		<td th:text="${job.jobCode}">JobCode</td>
		<td th:text="${job.description}">Description</td>
		<td th:text="${job.hourlyRate}">HourlyRate</td>	
		<td th:text="${job.maxHoursPerDay}">MaxHoursPerDay</td>
			
		<!--   <td><a th:href="@{/country_details/{name}(name=${country.name})}">view</a></td> -->
		
		<td><a th:href="@{/editjob/{id}(id=${job.id})}">edit</a></td>
		<td><a th:href="@{/deletejob/{id}(id=${job.id})}">delete</a></td>
		</tr>
		
		</table>
		<br>
		<br>
		 <center><a href="/newjob">Add New Job</a></center>
			
</html>