<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
	<head>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
		<title>Admin</title>
	</head>
	<body>	
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/admin}">Disaster Recovery</a>
			</div>
			<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	</br>
	</br>
	</br>
	<div class="row row-no-gutters" style="height: 95vh; ">
		<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a th:href="@{/admin/list_timecards}">TimeSheet Approval</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_jobs}">Job Code Management</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_machines}">Machine Management</a></button>
		</div>
	  	<div class="col-xs-12 col-md-8">
			<br><br><br>
			<h2 align="center">Job Code Management</h2>
			<br>
			<table class="table">
			  <thead>
			    <tr>
			    	<th scope="col">Job Code</th>
			      	<th scope="col">Description</th>
			      	<th scope="col">Hourly Rate</th>
			      	<th scope="col">Max Hours Per Day</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="job:${jobs}">
					<td th:text="${job.jobCode}"/>
					<td th:text="${job.description}"/>
					<td th:text="${job.hourlyRate}"/>	
					<td th:text="${job.maxHoursPerDay}"/>
					<td><a th:href="@{/admin/editjob/{id}(id=${job.id})}">edit</a></td>
					<td><a th:href="@{/admin/deletejob/{id}(id=${job.id})}">delete</a></td>
				</tr>
			  </tbody>
			</table>
			<br>
			<br>
			 <center><a th:href="@{/admin/newjob}">Add New Job</a></center>
	  	</div>
	</div>
		
		
		</body>		
</html>