<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
	<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Admin</title>
	</head>
	<body>	
	
	<div class="row row-no-gutters" style="height: 5vh; background-color:gray;">
		<div>
			<h3 style="margin-left:50px">Disaster Recovery Application</h4>
		 </div>
	</div>
	<div class="row row-no-gutters" style="height: 95vh; ">
		<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a href="list_timecards">TimeSheet Approval</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a href="list_jobs">Job Code Management</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a href="list_machines">Machine Management</a></button>
		</div>
	  	<div class="col-xs-12 col-md-8">
	  		<table border=1 bgcolor="silver" align="center" cellpadding="6",cellspacing ="6">
				
				<br><br><br>
				<h2 align="center">Machine Management</h2>
				<tr>
				<th>MachineCode</th>
				<th>Description</th> 
				<th>HourlyRent</th>
				<th>MaxHoursPerDay</th>
				
				</tr>
				<tr th:each="machine:${machines}">
				<td th:text="${machine.machineCode}">MachineCode</td>
				<td th:text="${machine.description}">Description</td>
				<td th:text="${machine.hourlyRent}">Total Amount</td>	
				<td th:text="${machine.maxHoursPerDay}">MaxHoursPerDay</td>
					
				<!--   <td><a th:href="@{/country_details/{name}(name=${country.name})}">view</a></td> -->
				
				<td><a th:href="@{/editmachine/{id}(id=${machine.id})}">edit</a></td>
				<td><a th:href="@{/deletemachine/{id}(id=${machine.id})}">delete</a></td>
				</tr>
				
				</table>
				<br>
				<br>
				 <center><a href="/newmachine">Add New Machine</a></center>
	  	</div>
	</div>
		
		
	</body>		
</html>