<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
	<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Admin</title>
	</head>
	<body>	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/admin}">Disaster Recovery</a>
			</div>
			<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	</br>
	</br>
	</br>
	<div class="row row-no-gutters" style="height: 95vh; ">
		<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a th:href="@{/admin/list_timecards}">TimeSheet Approval</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_jobs}">Job Code Management</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_machines}">Machine Management</a></button>
		</div>
	  	<div class="col-xs-12 col-md-8">
				
				<br><br><br>
				<h2 align="center">Machine Management</h2>

				
			<table class="table">
			  <thead>
			    <tr>
			    	<th scope="col">Max Hours Per Day</th>
			      	<th scope="col">Description</th>
			      	<th scope="col">Hourly Rate</th>
			      	<th scope="col">Max Hours Per Day</th>
			    </tr>
			  </thead>
			  <tbody>
			   </tr>
				<tr th:each="machine:${machines}">
					<td th:text="${machine.machineCode}">MachineCode</td>
					<td th:text="${machine.description}">Description</td>
					<td th:text="${machine.hourlyRent}">Total Amount</td>	
					<td th:text="${machine.maxHoursPerDay}">MaxHoursPerDay</td>
					<td><a th:href="@{/admin/editmachine/{id}(id=${machine.id})}">edit</a></td>
					<td><a th:href="@{/admin/deletemachine/{id}(id=${machine.id})}">delete</a></td>
				</tr>
			  </tbody>
			</table>
			
			<br>
			<br>
			<center><a th:href="@{/admin/newmachine}">Add New Machine</a></center>
	  	</div>
	</div>
		
		
	</body>		
</html>