<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/savetimecard}" th:object="${timecard}" Method="Post">

SiteCode:<input type="text" th:field="*{siteCode}"/><br><br>
TotalHours:<input type="text" th:field="*{totalHours}"/><br><br>
TotalAmount:<input type= "text" th:field="*{TotalAmount}"/>
<button type="submit">Save</button>
</form>


</body>
</html>