<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
			
		<head>
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
			<title>Admin</title>
	</head>
	<body>	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/admin}">Disaster Recovery</a>
			</div>
			<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	</br>
	</br>
	</br>
	<div class="row row-no-gutters" style="height: 95vh; ">
		<div class="col-xs-6 col-md-3" style="height:100%;background-color:whitesmoke">
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%; margin-top:5px;"><a th:href="@{/admin/list_timecards}">TimeSheet Approval</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_jobs}">Job Code Management</a></button>
			<button type="button" class="btn btn-outline-primary" style="height:50px; width: 100%;  margin-top:5px;"><a th:href="@{/admin/list_machines}">Machine Management</a></button>
		</div>
	  	<div class="col-xs-12 col-md-8">
		<table border=1 bgcolor="silver" align="center" cellpadding="6",cellspacing ="6">
		
		<br><br><br>
		<h2 align="center">Timesheet Approval</h2>
		<tr>
		<th>SiteCode</th>
		<!--  <th>ContractorName</th> -->
		<th>TotalHrs</th>
		<th>TotalAmount</th>
		<th>Approved</th>
		</tr>
		<tr th:each="timecard:${timecards}">
		<td th:text="${timecard.siteCode}">SiteCode</td>
		<td th:text="${timecard.totalHours}">Total Hours</td>
		<td th:text="${timecard.totalAmount}">Total Amount</td>	
		<td th:text="${timecard.approved}">Approved</td>	
		<!--  <td th:text="${timecard.contractor}">Contractor Name</td>-->
			
		<!--   <td><a th:href="@{/country_details/{name}(name=${country.name})}">view</a></td> -->
		
		<td><a th:href="@{/admin/approveTimecard/{id}(id=${timecard.id})}">Approve</a></td>
		<td><a th:href="@{/admin/disapproveTimecard/{id}(id=${timecard.id})}">Disapprove</a></td>
		</tr>
		
		</table>
		<br>
		<br>
		</div>
		</div>
		</body>
</html>