<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
			
			
		
		<table border=1 bgcolor="silver" align="center" cellpadding="6",cellspacing ="6">
		
		<br><br><br>
		<h2 align="center">Timesheet Approval</h2>
		<tr>
		<th>SiteCode</th>
		<!--  <th>ContractorName</th> -->
		<th>TotalHrs</th>
		<th>TotalAmount</th>
		
		</tr>
		<tr th:each="timecard:${timecards}">
		<td th:text="${timecard.siteCode}">SiteCode</td>
		<td th:text="${timecard.totalHours}">Total Hours</td>
		<td th:text="${timecard.totalAmount}">Total Amount</td>	
		
		<!--  <td th:text="${timecard.contractor}">Contractor Name</td>-->
			
		<!--   <td><a th:href="@{/country_details/{name}(name=${country.name})}">view</a></td> -->
		
		<td><a th:href="@{/edittimecard/{id}(id=${timecard.id})}">edit</a></td>
		<td><a th:href="@{/deletetimecard/{id}(id=${timecard.id})}">delete</a></td>
		</tr>
		
		</table>
		<br>
		<br>
		 <center><a href="/newtimecard">Add New Timecard</a></center>
			
</html>